body {
    font-family: var(--ff);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

main,
section {
    background-color: white;
    margin: 1.3rem var(--margin-container);
    border-radius: 1rem;
}
button {
    height: var(--input-size);
    padding: 0 2.2rem;

    border: none;
    background-color: var(--clr-primary-300);
    border-radius: 3rem;

    color: white;
    font-weight: 500;
}
