body {
    font-family: var(--ff);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

p {
    color: var(--clr-neutral-500);
}

.body-container > main,
.body-container > section {
    @include container;
}

button {
    height: var(--input-size);
    width: max-content;
    padding: 0 2.2rem;

    border: none;
    background-color: var(--clr-primary-300);
    border-radius: 3rem;

    color: white;
    font-weight: 500;
}
