:root {
    --clr-primary-300: hsl(176, 50%, 47%);
    --clr-primary-700: hsl(176, 72%, 28%);

    --clr-neutral-700: hsl(0, 0%, 48%);
    --clr-neutral-1000: hsl(0, 0%, 0%);
    

    --ff: font-family: 'Commissioner', sans-serif;
}