:root {
    --clr-primary-300: hsl(176, 50%, 47%);
    --clr-primary-700: hsl(176, 72%, 28%);

    --clr-neutral-200: hsl(0, 0%, 97%);
    --clr-neutral-400: hsl(0, 0%, 80%);
    --clr-neutral-500: hsl(0, 0%, 60%);

    --clr-neutral-700: hsl(0, 0%, 48%);
    --clr-neutral-1000: hsl(0, 0%, 0%);

    --ff: 'Commissioner', sans-serif;

    --margin-container: 7vw;
    --padding-default: 1.5rem;

    --input-size: 3rem;
}
