@import 'abstract/mixins';

@import 'base/reset';
@import 'base/font';
@import 'base/root';
@import 'base/base';

@import 'components/products-display';
@import 'components/product-container';
@import 'components/menu-btn';
@import 'components/progress-bar';
@import 'components/select-reward-btn';

@import 'layouts/header';
@import 'layouts/main';
@import 'layouts/about-section';
@import 'layouts/info-section';
@import 'layouts/modal';
@import 'layouts/body';

@import 'layouts/modals/thank-you-modal';
@import 'layouts/modals/back-project-modal';

@import 'pages/index';
