/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary-300: hsl(176, 50%, 47%);
  --clr-primary-700: hsl(176, 72%, 28%);
  --clr-neutral-200: hsl(0, 0%, 97%);
  --clr-neutral-300: hsl(0, 0%, 90%);
  --clr-neutral-400: hsl(0, 0%, 80%);
  --clr-neutral-500: hsl(0, 0%, 60%);
  --clr-neutral-700: hsl(0, 0%, 48%);
  --clr-neutral-1000: hsl(0, 0%, 0%);
  --ff: "Commissioner", sans-serif;
  --margin-container: 7vw;
  --padding-default: 1.5rem;
  --input-size: 3.7rem;
}

body {
  font-family: var(--ff);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  color: var(--clr-neutral-500);
}

.body-container > main,
.body-container > section {
  margin: 1.3rem auto;
  width: min(100vw - 6rem, 50rem);
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}
.body-container > main:first-child,
.body-container > section:first-child {
  margin-top: 0;
}

.invisible {
  visibility: hidden;
}

button {
  height: var(--input-size);
  width: max-content;
  padding: 0 2.2rem;
  border: none;
  background-color: var(--clr-primary-300);
  border-radius: 3rem;
  color: white;
  font-weight: 500;
}

.products-display {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.product-container {
  border-radius: 1rem;
  border: 2px var(--clr-neutral-300) solid;
  padding: 1.8rem 1.5rem;
  display: grid;
  gap: 1.8rem 0;
  grid-template-areas: "product-heading" "product-details" "product-amount" "select-reward";
}
@media (min-width: 500px) {
  .product-container {
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 1fr min-content;
    grid-template-areas: "product-heading product-heading" "product-details product-details" "product-amount select-reward";
  }
}
.product-container input {
  display: none;
}
.product-container .radio-icon {
  display: none;
}
.product-container.product-checked {
  border: 2px var(--clr-primary-300) solid;
}
.product-container.product-checked footer {
  display: block;
}
.product-container.product-disabled {
  filter: opacity(0.6);
}
.product-container footer {
  grid-area: footer;
  margin-top: 1.5rem;
  padding: 1.5rem;
  position: relative;
  display: none;
  flex-flow: column nowrap;
  align-items: center;
}
.product-container footer > div {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product-container footer input {
  height: var(--input-size);
  max-width: 15rem;
  width: 50%;
  padding: 0 2rem 0 3rem;
  border-radius: 5rem;
}
.product-container footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.5rem;
  right: -1.5rem;
  height: 1px;
  background-color: var(--clr-neutral-300);
}

.modal .product-container {
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 2rem 1fr;
  grid-template-areas: "radio-icon product-heading" "product-details product-details" "product-amount product-amount" "footer footer";
}
@media (min-width: 500px) {
  .modal .product-container {
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 2rem 1fr min-content;
    grid-template-areas: "radio-icon product-heading product-amount" ". product-details product-details" "footer footer footer";
  }
}
.modal .product-container > button {
  display: none;
}
.modal .product-container input {
  margin: auto auto auto 0;
  grid-area: radio-icon;
  display: block;
}

.pledge-info {
  color: var(--clr-primary-300);
  font-weight: 500;
  font-size: 0.9rem;
}

.product-amount {
  grid-area: product-amount;
  display: flex;
  align-items: center;
}
.product-amount span {
  padding-right: 0.5rem;
  color: var(--clr-neutral-1000);
  font-size: 2rem;
  font-weight: 700;
}

.product-details {
  grid-area: product-details;
}

.select-reward {
  grid-area: select-reward;
}

.product-heading {
  grid-area: product-heading;
  align-self: center;
}

@media (min-width: 630px) {
  .product-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .product-heading h3 {
    width: fit-content;
  }
  .product-heading p {
    width: fit-content;
  }
}
.menu {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  position: relative;
}
.menu input {
  display: none;
}
@media (min-width: 600px) {
  .menu {
    display: none;
  }
}
.menu div {
  --line-thickness: 16%;
  height: var(--line-thickness);
  width: 2.7rem;
  background-color: white;
  border-radius: 1rem;
  opacity: 1;
  margin-bottom: auto;
  margin-top: auto;
  transition: 0.3s ease;
}
.menu div::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: var(--line-thickness);
  background-color: white;
  border-radius: 1rem;
  transition: 0.3s ease;
}
.menu div::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--line-thickness);
  background-color: white;
  border-radius: 1rem;
  transform: translateY();
  transition: 0.3s ease;
}
.menu.open-menu div {
  background-color: rgba(255, 255, 255, 0);
}
.menu.open-menu div::before {
  transform: translateY(calc(var(--width) / 2)) translateY(-50%) rotateZ(45deg);
}
.menu.open-menu div::after {
  transform: translateY(calc(var(--width) / -2)) translateY(50%) rotateZ(-45deg);
}

.progress-bar {
  border-radius: 1rem;
  width: 100%;
  height: 1rem;
  background-color: var(--clr-neutral-400);
}

.progress-slider {
  border-radius: 1rem;
  height: 100%;
  width: var(--percentage);
  background-color: var(--clr-primary-300);
}

.select-reward:disabled {
  background-color: var(--clr-neutral-400);
}

.body > header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 80vw;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent), url(../assets/image-hero-mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem var(--margin-container);
}
.body > header nav {
  margin: 1.3rem auto;
  margin: 0 auto;
  width: min(100vw - 6rem, 50rem);
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  top: 17vw;
  left: 0;
  right: 0;
  display: flex;
  background-color: var(--clr-neutral-200);
}
.body > header nav:first-child {
  margin-top: 0;
}
.body > header nav ul {
  width: 100%;
  margin: 0;
}
.body > header nav li {
  position: relative;
}
.body > header nav li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--clr-neutral-300);
}
.body > header nav a {
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 100%;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.header-container {
  height: 5vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header-container img {
  height: 100%;
}

main {
  padding: 3rem 1.5rem 2rem;
  text-align: center;
}
main h1 {
  font-weight: 700;
  font-size: 1.5rem;
}
main button {
  max-width: 15rem;
  width: calc(100% - var(--input-size) - 1rem);
}
main p {
  font-weight: 500;
  font-size: 0.9rem;
}
main p {
  margin: 1.2rem 0;
}
main label {
  width: var(--input-size);
  height: var(--input-size);
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: var(--input-size);
  height: var(--input-size);
  background-image: url(../assets/logo-mastercraft.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.bookmark-container {
  display: flex;
  justify-content: space-between;
}
.bookmark-container img {
  height: 100%;
}
.bookmark-container input {
  display: none;
}
.bookmark-container p {
  display: none;
}
@media (min-width: 600px) {
  .bookmark-container label {
    margin-left: 1rem;
    width: 100%;
    max-width: 12rem;
    background-color: var(--clr-neutral-200);
    border-radius: 5rem;
    display: flex;
    flex-flow: row nowrap;
  }
  .bookmark-container p {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    color: var(--clr-neutral-700);
    margin: auto;
  }
}

.about-section {
  padding: var(--padding-default);
}
.about-section > header {
  margin-bottom: 1rem;
}
.about-section > header h2 {
  font-size: 1.2rem;
  margin: 2rem 0;
}
.about-section > header p {
  margin-bottom: 1.7rem;
}

.info-section {
  padding: var(--padding-default);
  display: flex;
  flex-flow: column nowrap;
}
.info-section .progress-bar {
  margin: 1rem 0;
}

@media (min-width: 600px) {
  .data {
    display: flex;
    flex-flow: row nowrap;
  }
}
.data div {
  position: relative;
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}
@media (min-width: 600px) {
  .data div {
    width: 100%;
    align-items: start;
  }
  .data div:not(:first-child) {
    padding-left: 2rem;
  }
}
.data div h3 {
  font-weight: 900;
  font-size: 1.7rem;
  color: var(--clr-neutral-1000);
}
.data div:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 4rem;
  height: 1px;
  background-color: var(--clr-neutral-400);
  transform: translateX(-50%);
}
@media (min-width: 600px) {
  .data div:not(:last-child)::after {
    right: 0;
    top: 0;
    bottom: 0;
    width: 0.5px;
    height: 100%;
    left: initial;
  }
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-container {
  margin: 1.3rem auto;
  margin: 0 auto;
  width: min(100vw - 6rem, 50rem);
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  top: 30vw;
  left: 0;
  right: 0;
}
.modal-container:first-child {
  margin-top: 0;
}

.back-project-modal {
  padding: var(--padding-default);
}

.body-container {
  position: absolute;
  top: 60vw;
  left: 0;
  right: 0;
}

.body-container > main {
  margin-top: 0;
}

.thank-you-modal {
  padding: var(--padding-default);
  position: fixed;
  inset: 0px;
  margin: auto;
  max-width: 30rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: min-content;
  text-align: center;
}
.thank-you-modal > * {
  margin: 1rem 0;
}

body {
  background-color: var(--clr-neutral-200);
}
