.thank-you-modal {
    @include section-padding;

    position: fixed;
    inset: 0px;
    margin: auto;
    max-width: 30rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: min-content;

    text-align: center;

    & > * {
        margin: 1rem 0;
    }
}
