@mixin icon-size {
    width: var(--input-size);
    height: var(--input-size);
}

@mixin container($side-margin: 3rem, $has-margin-top: true) {
    margin: 1.3rem auto;

    @if $has-margin-top == false {
        margin: 0 auto;
    }

    width: min(100vw - 2 * $side-margin, 50rem);

    background-color: white;
    border-radius: 1rem;

    overflow: hidden;

    &:first-child {
        margin-top: 0;
    }
}

@mixin content-container-positioning(
    $top: 60vw,
    $tablet-top: 40vw,
    $desktop-top: 20vw
) {
    position: absolute;
    top: $top;
    left: 0;
    right: 0;

    @media (min-width: 700px) {
        top: $tablet-top;
    }
    @media (min-width: 1000px) {
        top: $desktop-top;
    }
}

@mixin section-padding {
    padding: var(--padding-default);
}
