.product-container {
    border-radius: 1rem;
    border: 2px var(--clr-neutral-300) solid;

    padding: 1.8rem 1.5rem;

    display: grid;
    gap: 1.8rem 0;

    grid-template-areas: 'product-heading' 'product-details' 'product-amount' 'select-reward';

    @media (min-width: 500px) {
        grid-template-rows: min-content min-content 1fr;
        grid-template-columns: 1fr min-content;

        grid-template-areas: 'product-heading product-heading' 'product-details product-details' 'product-amount select-reward';
    }

    & > input {
        display: none;
    }

    .radio-icon {
        display: none;
    }

    &.product-checked {
        border: 2px var(--clr-primary-300) solid;

        // footer::before {
        //     background-color: var(--clr-primary-300);
        // }

        footer {
            display: block;
        }
    }

    &.product-disabled {
        filter: opacity(0.6);
    }

    footer {
        grid-area: footer;

        margin-top: 1.5rem;
        padding: 1.5rem;

        position: relative;

        display: none;
        flex-flow: column nowrap;
        align-items: center;

        & > div {
            padding-top: 1rem;

            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .input-container {
            position: relative;
            height: var(--input-size);
            max-width: 8rem;
            width: 50%;

            padding: 0 1.5rem 0.1rem 2.5rem;
            border-radius: 5rem;

            border: 2px var(--clr-neutral-400) solid;

            display: flex;
            align-items: center;

            input {
                border: none;
                outline: none;
                width: 100%;
                // height: 100%;

                font-size: 1.3rem;
                font-weight: 600;
                // padding: auto 0;

                &:focus {
                    outline: none;
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            &:before {
                content: '$';
                font-weight: 600;
                font-size: 1rem;
                color: var(--clr-neutral-400);

                position: absolute;
                left: 1.75rem;
                top: 50%;

                transform: translateY(-50%) translateX(-50%);
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1.5rem;
            right: -1.5rem;
            height: 1px;
            background-color: var(--clr-neutral-300);
        }
    }
}

.modal .product-container {
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 2rem 1fr;
    grid-template-areas: 'radio-icon product-heading' 'product-details product-details' 'product-amount product-amount' 'footer footer';

    @media (min-width: 500px) {
        grid-template-rows: min-content min-content min-content;
        grid-template-columns: 2rem 1fr min-content;

        grid-template-areas: 'radio-icon product-heading product-amount' '. product-details product-details' 'footer footer footer';
    }

    & > button {
        display: none;
    }

    & > input {
        margin: auto auto auto 0;
        grid-area: radio-icon;

        display: block;
    }
}

.pledge-info {
    color: var(--clr-primary-300);
    font-weight: 500;
    font-size: 0.9rem;
}

.product-amount {
    grid-area: product-amount;

    display: flex;
    align-items: center;

    span {
        padding-right: 0.5rem;
        color: var(--clr-neutral-1000);
        font-size: 2rem;
        font-weight: 700;
    }
}

.product-details {
    grid-area: product-details;
}

.select-reward {
    grid-area: select-reward;
}

.product-heading {
    grid-area: product-heading;

    align-self: center;
}

@media (min-width: 630px) {
    .product-heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        gap: 1rem;

        h3 {
            width: fit-content;
        }

        p {
            width: fit-content;
        }
    }
}
