.body > header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 80vw;
    background-image: linear-gradient(135deg, rgba(black, 0.5), transparent),
        url(../assets/image-hero-mobile.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

    padding: 2rem var(--margin-container);

    li {
        display: none;
    }
}

.header-container {
    height: 5vw;

    // z-index: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    img {
        height: 100%;
    }
}
