.body > header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 80vw;
    background-image: linear-gradient(135deg, rgba(black, 0.5), transparent),
        url(../assets/image-hero-mobile.jpg);

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2rem var(--margin-container);

    @media (min-width: 700px) {
        height: 53vw;
        // background-image: linear-gradient(135deg, rgba(black, 0.5), transparent),
        //     url(../assets/image-hero-desktop.jpg);
    }

    @media (min-width: 1000px) {
        height: 27.3vw;
        background-image: linear-gradient(135deg, rgba(black, 0.5), transparent),
            url(../assets/image-hero-desktop.jpg);
    }

    nav {
        // display: flex;
        // flex-flow: row nowrap;
        a {
            display: block;
            width: 100%;
            height: 100%;

            color: white;

            text-decoration: none;
        }

        @media (min-width: 600px) {
            ul {
                display: flex;
                gap: 1rem;
            }

            &.invisible {
                visibility: visible;
            }
        }

        @media (max-width: 599.999px) {
            @include container($has-margin-top: false);
            @include content-container-positioning($top: 17vw);

            background-color: var(--clr-neutral-200);

            ul {
                width: 100%;
                margin: 0;
            }
            li {
                position: relative;

                &:not(:last-child)::after {
                    content: '';

                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 1px;

                    background-color: var(--clr-neutral-300);
                }
            }

            a {
                color: black;
                padding: 1rem 1.5rem;
                font-weight: 600;
            }
        }
    }
}

.header-container {
    height: 5vw;

    // z-index: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    img {
        height: 100%;
        max-height: 1.5rem;
    }
}
