header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 80vw;
    background-image: linear-gradient(135deg, rgba(black, 0.5), transparent),
        url(../assets/image-hero-mobile.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

    padding: 2rem var(--margin-container);

    li {
        display: none;
    }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;

    //     opacity: 0.3;
    //     background: linear-gradient(45deg, black, transparent);
    // }
}

.header-container {
    height: 5vw;

    // z-index: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    img {
        height: 100%;
    }
}
