.info-section {
    @include section-padding;

    display: flex;
    flex-flow: column nowrap;

    .progress-bar {
        margin: 1rem 0;
    }
}

.data {
    div {
        position: relative;

        padding: 1rem 0;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        font-size: 0.9rem;
        font-weight: 500;

        h3 {
            font-weight: 900;
            font-size: 1.7rem;
            color: var(--clr-neutral-1000);
        }

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 4rem;
            height: 1px;
            background-color: var(--clr-neutral-400);

            transform: translateX(-50%);
        }
    }
}
