main {
    padding: 3rem 1.5rem 2rem;

    text-align: center;

    h1 {
        font-weight: 700;
        font-size: 1.5rem;
    }

    button {
        max-width: 15rem;
        width: calc(100% - var(--input-size) - 1rem);
    }

    p {
        font-weight: 500;
        font-size: 0.9rem;
    }

    p {
        margin: 1.2rem 0;
    }

    label {
        @include icon-size;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;

        @include icon-size;

        background-image: url(../assets/logo-mastercraft.svg);
        background-repeat: no-repeat;
        background-size: cover;

        transform: translate(-50%, -50%);
    }
}

.bookmark-container {
    display: flex;
    justify-content: space-between;

    img {
        height: 100%;
    }

    input {
        display: none;
    }

    p {
        display: none;
    }

    @media (min-width: 600px) {
        label {
            margin-left: 1rem;
            width: 100%;
            max-width: 12rem;

            background-color: var(--clr-neutral-200);
            border-radius: 5rem;

            display: flex;
            flex-flow: row nowrap;
        }

        p {
            display: block;
            width: 100%;
            font-weight: 600;
            font-size: 1rem;
            color: var(--clr-neutral-700);
            margin: auto;
        }
    }
}
