main {
    padding: 3rem 1.5rem 2rem;

    text-align: center;

    h1 {
        font-weight: 700;
        font-size: 1.5rem;
    }

    button {
        max-width: 15rem;
        width: calc(100% - var(--input-size) - 1rem);
    }

    p {
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--clr-neutral-700);
    }

    p {
        margin: 1.2rem 0;
    }

    label {
        @include icon-size;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;

        width: 3.7rem;
        height: 3.7rem;

        background-image: url(../assets/logo-mastercraft.svg);
        background-repeat: no-repeat;
        background-size: cover;

        transform: translate(-50%, -50%);
    }
}

.bookmark-container {
    display: flex;
    justify-content: space-between;

    input {
        display: none;
    }
}
